/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* COMMON */
body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout */
.wrapper{
    background-color: black;
    height: 100vh;
    padding: 100px;
    /* debug */
    width: 100%;
    color: white;
}

/* Utilities */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-content{
    justify-content: space-between;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.list{
    gap: 20px;
}

ol{
    font-size: 1rem;
}

a:hover{
    font-size: 3rem;
}

/* MAIN */
.main-container{
    width: 100%;
}

.row{
    padding: 7px 5px;
}

.col{
    width: calc(100% / 7 - 10px);
}

.user{ 
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer-container{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #222222;
    position: fixed;
    z-index: 100;
    line-height: 40px;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 2.5rem;
}

/* .footer-container{
    display: none;
}

.footer-container:hover{
    display: block;
} */

.remote-left{
    height: 100px;
    width: 20%;
}

.remote-center{
    height: 100px;
    width: 70%;
    justify-content: space-around;
}

.remote-right{
    height: 100px;
    width: 10%;
    padding: 0;
    background-color: #4a4a4a;
    color: red;
    top: -20px;
    left: 110px; 
    font-size: 1rem;
}

.arrow{
    font-size: 1rem;
}

.share{
    color: #4bc800;
}

.esc-button{
    top: 30px;
    left: 35px;
}

.esc-button:hover{
    font-size: 1.18rem;
}

